<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>阿里云后台管理系统</title>
  <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/brand.css">

</head>

<body>
  <div class="container">
    <!-- 连接公共头部 -->
    <%- include('./common/head') %>
    <div class="lv-main">
      <%- include('./common/menu')%>
      <!-- 连接公共内容 -->
      <div class="body">
        <form class="form-inline search-bar" method="POST">
          <input type="text" class="form-control" name="searchInput">
          <button class="btn btn-primary">搜索</button>
          <button class="add">新增手机</button>
        </form>
        <form class="addbrand" method="POST">
          <div class="addbox">
            <input type="text" placeholder="请输入手机名称" name="phonename">
            <select id="search" name="opstion">
              <option value="苹果">苹果</option>
              <option value="小米">小米</option>
              <option value="三星">三星</option>
              <option value="华为">华为</option>
              <option value="魅族">魅族</option>
              <option value="oppo">oppo</option>
              <option value="vivo">vivo</option>
            </select>
            <input type="text" placeholder="请输出官方指导价" name="money">
            <input type="text" placeholder="二手回收价" name="twomoney">
            <input type="file" name="file">
            <button class="ok" type="submit">确认</button>
            <button class="over">取消</button>
          </div>
        </form>
        <p class="detalist">
          <a href="#">详情列表</a>
        </p>
        <table class="table table-bordered  table-striped">
          <thead>
            <tr>
              <th>序号</th>
              <th>图片</th>
              <th>手机名称</th>
              <th>官方指导价</th>
              <th>二手回收价</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < list.length; i++ ){%>
            <tr>
              <th scope="row">
                <%= i+1 %>
              </th>
              <td>
                <%= list[i].Logo %>
              </td>
              <td>
                <%= list[i].phonename %>
              </td>
              <td>
                <%= list[i].money %>
              </td>
              <td>
                <%= list[i].twomoney %>
              </td>
              <td>
                <% {%>
                <a href="/phone/delete?id=<%= list[i]._id %>">删除</a>
                <%}%>
              </td>

            </tr>
            <%}%>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="disabled">
              <a href="/phone?page=<%= currentPage - 1 < 1 ? 1: currentPage - 1 %>&pageSize=<%= pageSize %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <% for (var i = 0; i < totalPage; i++) {%>
            <li class="<%= currentPage === (i+1) ? 'active': '' %>">
              <a href="/phone?page=<%= i+1 %>&pageSize=<%= pageSize %>">
                <%= i + 1%>
              </a>
            </li>
            <%}%>
            <li>
              <a href="/phone?page=<%= currentPage + 1 > totalPage ? totalPage: currentPage + 1 %>&pageSize=<%= pageSize %>"
                aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- 连接公共尾部 -->
    <%- include('./common/foot')%>
  </div>
</body>

</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('.add').click(function() {
      $('.addbrand').show()
    })
  })